export C4C_API_KEY="{{ (bitwardenFields "item" "CX Okta").c4c_api_key.value }}"
export C4NC_API_KEY="{{ (bitwardenFields "item" "CX Okta").c4nc_api_key.value }}"

export MCP_PIPELINE_HANDLER_GITHUB_TOKEN="{{ (bitwardenFields "item" "GitHub CX").pipeline_handler_mcp_pat.value }}"
