alias t='tmux'
alias vim='nvim'
alias v='nvim'

{{ if eq .chezmoi.os "linux" -}}
alias ls='ls -hN --color=auto --group-directories-first'
{{ else if eq .chezmoi.os "darwin" -}}
alias ls='ls -hG'
{{ end -}}

alias grep='grep --color=auto'
alias diff='diff --color=auto'

alias l='ls'
alias ll='ls -lh'
alias la='ls -lah'
alias sdn='sudo shutdown -h now'
alias srn='sudo reboot -h now'

alias ..='cd ..'
alias ...='cd .. && cd ..'

alias lg='lazygit'
